.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slideshow {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.slide {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background: black;
}

.slide.next {
  display: none;
}

.slide.hidden {
  display: none;
}

.slide iframe {
  border: 0;
  width: 100%;
  height: 100vh;
}

.slide img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.controls {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  min-height: 50px;
}

.controls>button {
  display: none;
}

.controls:hover>button {
  display: inline;
}

